.dropdown {
  margin-top: 12px;

}

.dropdown .menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s ease;
}

.dropdown .menu.open {
  // max-height: 1000px;
}

.trigger {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #EDEDED;
  padding-bottom: 15px;
}

.dropdown .trigger {
  display: flex;
  align-items: center;
  transition: transform 0.3s ease;
}

.dropdown .icon {
  transition: transform 0.3s ease;
}

.dropdown .iconOpen {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.btn {
  padding: 10px 9px;
  display: flex;
  border: 0;
  border-radius: 50%;
  border: 1px solid #dfdfdf;
  background: white;
  cursor: pointer;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}