.progress {
  height: 12px;
  background-color: #EDEDED;
  border-radius: 12px;
  overflow: hidden;
  // width: 100px;
  width: 100%;

  margin-top: 12px;

  .progressBar {
    height: 100%;
    border-radius: 12px;
    transition: width 3s ease-in-out;
    width: 0;
  }
}